---
const { title, desc, url } = Astro.props;

---

<div
  class="rounded-lg bg-base-100 hover:shadow-xl transition ease-in-out hover:scale-[102%]">
  <a href={url}>
    <div class="hero-content flex-col md:flex-row">
      <img src="https://placehold.jp/3d4070/ffffff/150x150.png?text=Placeholder" alt="" class="rounded-lg">
      <div class="grow w-full">
        <h1 class="text-xl font-bold">
          {title}
        </h1>
        <p class="py-1 text-1xl">{desc}</p>
        <div class="card-actions justify-end">
        </div>
      </div>
    </div>
  </a>
</div>