---
// const { sideBarActiveItemId } = Astro.props;
---

<ul class="menu grow shrink menu-md overflow-y-auto">
  <li>
    <a href="/" class="py-3 text-xl" id="home">Home</a>
  </li>
  <li>
    <a href="#portfolio" class="py-3 text-xl" id="portfolio">Portfolio</a>
  </li>
  <li>
    <a href="#blog" class="py-3 text-xl" id="blog">Blog</a>
  </li>
  <li>
    <a href="/cv" class="py-3 text-xl" id="cv">CV</a>
  </li>

</ul>